body {
    background-color: #C5D1CC;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: center;


}

.div-pug {
    display: flex;
    min-width: 400px;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
    
}

.img-pug {
    min-width: 250px;
    height: 300px;
    border-radius: 50%;
    border: 15px solid #FBF9EE;
    object-fit: cover;
}

#watch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 210px;
    height: 200px;
    border: 2px solid #000;
    align-items: center;
    justify-content: center;



}

.h1-header {
    display: flex;
    min-width: 210px;

    font-size: 60px;
    align-items: center;
    justify-content: center;


}